<footer class="footer">
    <div class="container">
      <p>&copy; 2018-2019</p>
      <p class="text-muted"><a href="https://bitbucket.org/joeSuchan/ecommerce/src/master/">Repository</a></p>
    </div>
  </footer>
</body>
</html>