<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Ecommerce website</h1>
      <br/>
      <br/>
      <hr>
      <h2>The Best place to shop</h2>
      <br/>
      <br/>
      <h3>GET a view</h3>
      <ol>
        <li>
          <a href="/customers">http://localhost:8089/customers</a>
        </li>
        <li>
          <a href="/products">http://localhost:8089/products</a>
        </li>
        <li>
          <a href="/order">http://localhost:8089/order</a>
        </li>
        <li>
          <a href="/orderLineItem">http://localhost:8089/orderLineItem</a>
        </li>
      </ol>
      <h3>GET JSON</h3>
      <ol>
        <li>
          <a href="/customers/findall">http://localhost:8089/customers/findall</a>
        </li>
        <li>
          <a href="/customers/findone/1">http://localhost:8089/customers/findone/1</a>
        </li>
        <li>
          <a href="/products/findall">http://localhost:8089/products/findall</a>
        </li>
        <li>
          <a href="/products/findone/1">http://localhost:8089/products/findone/1</a>
        </li>
        </ol>
    </div>
  </div>
</div> 