<!-- <% include header %> --> 
<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1></h1>
        <br/>
        <h2>Ecommerce website</h2>
        <br/>
        <hr>
        <h3>The Best place to shop</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="/customers">http://localhost:8089/customers</a>
          </li>
          <li>
            <a href="/products">http://localhost:8089/products</a>
          </li>
          <li>
            <a href="/order">http://localhost:8089/orders</a>
          </li>
          <li>
            <a href="/orderLineItems">http://localhost:8089/orderLineItems</a>
          </li>
        </ol>
  
  
      </div>
    </div>
  </div> 
<!-- <% include footer %> -->